body {
	background-color: #2c2d2e;
	color: #fbbd0d;
	margin: 0;
	padding: 0;
}

#gallery {
	margin-top: 10px;
}

.gallery-item {
	transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
	transform: scale(1.05);
}

.mfp-bg {
	background: rgba(0, 0, 0, 0.8);
}

.mfp-content {
	max-width: 80%;
	max-height: 80%;
	margin: auto;
}

.gallery-item {
	min-height: 150px;
}

/* Loading Overlay Style */
#loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

#loading-indicator {
	font-size: 24px;
}

/* Mengubah warna lingkaran spinner menjadi #fbbd0d */
.spinner-border {
	border-top-color: #fbbd0d !important;
	border-right-color: #fbbd0d !important;
	border-left-color: #fbbd0d !important;
}
